body {
	color: var(--color);
	background: var(--background-color);
	font: 100% system-ui;
	margin: 50px;
}

a {
	color: #0033cc;
}

button {
	border: none;
	border-radius: 6px;
	color: var(--on-color);
	flex-grow: 1;
	font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
	font-size: 15px;
	height: 36px;
	line-height: 20px;
	margin: 4px 8px 4px 8px;
	min-width: 185px;
	padding: 0 16px 0 16px;
	transition: 0.3s;
	cursor: pointer;
	gap: 10px;
	display: inline-flex;
	align-items: center;
	background-color: var(--button-bg);
	color: var(--color);
}

button:hover{
	background-color: var(--button-bg-hover) !important;
	color: #050505 !important;
	font-size: 15px;
	transition: 0.3s;
}

button#saveButtonText {
	background-color: var(--button-bg-save-text);
}

button#saveButtonExcel {
	background-color: var(--button-bg-save-excel);
}

button#copyButton {
	background-color: var(--button-bg-copy);
}

button#manualChassi,
button#manualKey {
	background-color: var(--primary);
}

p {
	margin: 4px 8px 8px 8px;
}

#orderCreation {
	margin: 8px 8px 4px 8px;
}

.old {
	color: #d44242;
}

.new {
	color: #3f993f;
}
